<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-white">
    <div class="container mx-auto p-10">
        <div class="flex mb-2 justify-between">
            <h1 class="text-4xl mb-10">Task-Manager</h1>
            <% if (!userId) { %>
                <div>
                    <a href="/auth/login" class="bg-blue-600 px-4 py-2 cursor-pointer">Login</a>
                    <a href="/auth/register" class="bg-green-600 px-4 py-2 cursor-pointer">Sign Up</a>
                </div>
            <% } else { %>
                <a href="/auth/logout" class="bg-red-600 px-4 py-2 cursor-pointer">Logout</a>
            <% } %>
        </div>
        <form method="post" action="/create" class="mb-10">
            <input class="block w-full px-5 py-2 bg-gray-700" type="text" placeholder="Title" name="title" >
            <textarea class="resize-none block w-full mt-2 px-5 py-2 bg-gray-700" placeholder="Details" name="details"></textarea>
            <input class="bg-blue-600 mt-2 px-4 py-2 cursor-pointer" type="submit" value="Create Task">
        </form>
        <div class="tasks flex flex-wrap gap-3">
            <% if (tasks && tasks.length > 0) { %>
                <% tasks.forEach(task => { %>
                    <div class="task bg-gray-800 p-5 rounded ">
                        <h2 class="text-2xl"><%= task.title %></h2>
                        <p class="mt-2  "><%= task.details %></p>
                        <a class="text-blue-400 inline-block mt-3" href="/edit/<%= task._id %>">Edit</a>
                        <a class="text-zinc-400 inline-block ml-2 mt-3 px-2" href="/show/<%= task._id %>">Show</a>
                        <form method="post" action="/delete" class="inline-block">
                            <input type="hidden" name="id" value="<%= task._id %>">
                            <button class="text-red-400 ml-2 mt-2 w-15 rounded-md cursor-pointer" type="submit">Delete</button>
                        </form>
                        <a class="text-zinc-300 inline-block mt-3 px-2" href="/download/<%= task._id %>" download>Download</a>
                    </div>
                <% }); %>
            <% } else { %>
                <p>No tasks available</p>
            <% } %>
        </div>
    </div>
</body>
</html>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-white">
    <div class="container mx-auto p-10">
        <div class="flex mb-2 justify-between">
            <h1 class="text-4xl mb-10">Task-Manager</h1>
            <% if (!userId) { %>
                <div>
                    <a href="/auth/login" class="bg-blue-600 px-4 py-2 cursor-pointer">Login</a>
                    <a href="/auth/register" class="bg-green-600 px-4 py-2 cursor-pointer">Sign Up</a>
                </div>
            <% } else { %>
                <a href="/auth/logout" class="bg-red-600 px-4 py-2 cursor-pointer">Logout</a>
            <% } %>
        </div>
        <form method="post" action="/create" class="mb-10">
            <input class="block w-full px-5 py-2 bg-gray-700" type="text" placeholder="Title" name="title" >
            <textarea class="resize-none block w-full mt-2 px-5 py-2 bg-gray-700" placeholder="Details" name="details"></textarea>
            <input class="bg-blue-600 mt-2 px-4 py-2 cursor-pointer" type="submit" value="Create Task">
        </form>
        <div class="tasks flex flex-wrap gap-3">
            <% if (tasks && tasks.length > 0) { %>
                <% tasks.forEach(task => { %>
                    <div class="task bg-gray-800 p-5 rounded ">
                        <h2 class="text-2xl"><%= task.title %></h2>
                        <p class="mt-2  "><%= task.details %></p>
                        <a class="text-blue-400 inline-block mt-3" href="/edit/<%= task._id %>">Edit</a>
                        <a class="text-zinc-400 inline-block ml-2 mt-3 px-2" href="/show/<%= task._id %>">Show</a>
                        <form method="post" action="/delete" class="inline-block">
                            <input type="hidden" name="id" value="<%= task._id %>">
                            <button class="text-red-400 ml-2 mt-2 w-15 rounded-md cursor-pointer" type="submit">Delete</button>
                        </form>
                        <a class="text-zinc-300 inline-block mt-3 px-2" href="/download/<%= task._id %>" download>Download</a>
                    </div>
                <% }); %>
            <% } else { %>
                <p>No tasks available</p>
            <% } %>
        </div>
    </div>
</body>
</html>
>>>>>>> 2e84a7f4eae470a565c8e148b7cc4da2bd9f4506
